body {
    background-color: #f5f9ff;
}

.aboutMe{
    background-color: #e5e7fa;
    border-bottom: 3px solid #0a0d33;
}

.scrolling-wrapper {
   
   
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;

}

.btn-sm {
    background-color: #3542d4;
}

/* Bootstrap Snippet for timeline */

.hori-timeline .events {
    border-top: 3px solid #3542d4;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #3542d4;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: #c7cbf4;
}
.bg-soft-success {
    background-color: #7d85e3;
}
